# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribuciones / paquetes
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
pip-wheel-metadata/
*.egg-info/
dist/
build/

# PyInstaller
*.manifest
*.spec

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs y bases de datos
*.log
*.sqlite3

# Configuraciones locales
*.env
.env.*
